*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a{
  text-decoration: none;
  margin-left:55px;
  padding:5px;
}
header{
  background-color: palegreen;
  height: 30px;
}
nav{
  padding:5px;
}

#second{
  height: 50px;
  width:50px;
  background-color: green;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin:5px;
}
.box{
  height: 100px;
  width: 100px;
  background-color: salmon;
  margin:5px;
  display: inline-block;
}
#container{
  border: 3px solid;
  margin:5px;
}
#box4{
  position: fixed;
  right: 10px;
}

#box2{
  z-index: 2;
  position: absolute;
  right:30px;
}
footer{
  position: fixed;
  bottom:0px;
  background-color: saddlebrown;
  
}