*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  padding: 20px;
  
}
.bag-button{
  background-color: lightgreen;
  border: none;
  padding:7px 10px 7px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.wish-button{
  padding:10px 20px 10px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

