.box{
    height:100px;
    width:100px;
    background-color:yellow;

    animation:colorAnimate 3s ease-in 0s normal;
}
@keyframes colorAnimate{
    0%{
        bakcground-color:red;
    }
    50%{
        background-color:black;
    }
    100%{
        background-color:aqua;
    }
} 