*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#heading{
  text-align: center;
}
#container{
  margin-top: 10px;
  width: 90%;
  height: 80vh;
  border: 2px solid saddlebrown;

  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  align-items: center;
}
.box{
  width: 80px;
  height: 80px;
  margin: 3px;
  border:2px solid black;
  text-align: center;
  padding: 20px;
}
#box1{
  align-self: flex-end;
  /* flex-shrink:2; */
  flex-grow: ;
}

