div{
    height:100px;
    width:100px;
    background-color: #00ffea;
    margin-top:10px;
    margin:0 auto;
    transition: margin-top 2s ease-in 0.2s;
  
}
div:hover{
    margin-top:200px;
    background-color:black;
}