*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.button{
  width: 100px;
  height: 100px;
  border:2px solid black;
  padding: 10px 20px;
  margin:40px 20px;
}
.box-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#grey{
  background-color: gray;
}
#blue{
  background-color: blue;
}
#yellow{
  background-color: yellow;
}
