h1{
    text-decoration: underline;
    text-decoration-color: red;;
}
h2{
    text-decoration: line-through;
    text-decoration-color:cyan;
}
h3{
    text-decoration: overline;
    text-decoration: double red overline;
}
a{
    text-decoration: underline;
}